:root {
  --color-accent: rgb(3, 24, 250);
  --color-text: rgb(149, 124, 98);
  --color-card: rgb(243, 226, 197);
  --color-gradient-start: rgb(241, 216, 174);
  --color-background: rgb(250, 250, 250);
  --color-accent-secondary: rgb(29, 46, 233);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Open Sans', sans-serif, Geneva, Verdana, sans-serif;
}

.gradient {
  color: var(--color-text);
  background: linear-gradient(
    90deg,
    var(--color-gradient-start) 34.5%,
    var(--color-background) 34.5%
  );
}

@media screen and (max-width: 640px) {
  .gradient {
    background: var(--color-background);
    background: linear-gradient(
      180deg,
      var(--color-gradient-start) 40%,
      var(--color-background) 40%
    );
  }
}

.color_profile {
  background-color: var(--color-card);
  color: var(--color-text);
}
.color_details {
  background-color: var(--color-background);
}

.header_title_section {
  display: inline-block;
  width: 34px;
  height: 50px;
  padding: 12px;
  margin-bottom: 12px;
  margin-right: 8px;
  background-color: var(--color-accent);
  -webkit-mask: url('../icons/braces.svg') no-repeat center / contain;
  mask: url('../icons/braces.svg') no-repeat center / contain;
}

.header_title_color {
  color: var(--color-text);
}

.header_subtitle_color {
  margin-left: 6px;
  text-transform: uppercase;
  color: var(--color-text);
  text-decoration: none;
}

.header_select_link {
  color: var(--color-accent);
}
.header_no_select_link {
  color: var(--color-text);
}

.hero_padding {
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 12px;
}

.hero_img_config {
  width: 250px;
  height: 300px;
  border-radius: 100%;
}
.hero_presentation_size_left {
  width: 400px;
  height: 100%;
}
.hero_sizing_presentation_right {
  width: 600px;
}

.hero_divider {
  border-top: 5px solid var(--color-accent);
  width: 70px;
  height: 100%;
}

.hero_text_costume {
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.hero_icons_sizing {
  margin-top: 74px;
  width: 100%;
  height: 70px;
}

.hero_icons_sizing_flex {
  background-color: var(--color-background);
  width: 100%;
  height: 70px;
}

.icons_config {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--color-text);
}

.icons_config_credits {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 3px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: var(--color-text);
}

.svg_braces {
  -webkit-mask: url('../icons/braces.svg') no-repeat center / contain;
  mask: url('../icons/braces.svg') no-repeat center / contain;
}

.svg_udemy {
  -webkit-mask: url('../icons/udemy.svg') no-repeat center / contain;
  mask: url('../icons/udemy.svg') no-repeat center / contain;
}
.svg_github {
  -webkit-mask: url('../icons/github.svg') no-repeat center / contain;
  mask: url('../icons/github.svg') no-repeat center / contain;
}
.svg_linkedin {
  -webkit-mask: url('../icons/linkedin.svg') no-repeat center / contain;
  mask: url('../icons/linkedin.svg') no-repeat center / contain;
}

.svg_android2 {
  -webkit-mask: url('../icons/android2.svg') no-repeat center / contain;
  mask: url('../icons/android2.svg') no-repeat center / contain;
}

.svg_cloud {
  -webkit-mask: url('../icons/cloud.svg') no-repeat center / contain;
  mask: url('../icons/cloud.svg') no-repeat center / contain;
}

.svg_c_circle {
  -webkit-mask: url('../icons/c-circle.svg') no-repeat center / contain;
  mask: url('../icons/c-circle.svg') no-repeat center / contain;
}

.hero_presentation_title {
  width: 260px;
  height: 150px;
  font-size: 110px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  color: var(--color-text);
}

.hero_button_left {
  border-radius: 4rem;
  width: 155px;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-accent);
  outline: 0px solid var(--color-accent);
  color: var(--color-background);
}
.hero_button_right {
  border-radius: 4rem;
  width: 155px;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
  outline: 1px solid var(--color-text);
  color: var(--color-text);
}

.footer_text_color {
  color: var(--color-text);
}

.footer_margin_top {
  margin-top: 50px;
  
}

.footer_icons_config {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.pages_background {
  background: var(--color-gradient-start);
}

.card_background {
  background: var(--color-background);
}

.curriculum_section_title {
  display: inline-block;
  width: 40px;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 5px;
  background-color: var(--color-accent);
}

.curriculum_square_divider {
  border-top: 14px solid var(--color-accent);
  width: 14px;
  height: 1rem;
  margin-top: 8px;
}

.color_subtitle {
  color: var(--color-accent-secondary);
}