:root {
  --color-Rich-Blue: rgb(3, 24, 250);
  --color-Clay-Creek: rgb(149, 124, 98);
  --color-Dairy-Cream: rgb(243, 226, 197);
  --color-Light-Apricot: rgb(241, 216, 174);
  --color-Alabaster: rgb(250, 250, 250);
  --color-Palatinate-Blue: rgb(29, 46, 233);
}

body {
  background-color: var(--color-Alabaster);
  color: var(--color-Clay-Creek);
  font-family: 'Open Sans', sans-serif, Geneva, Verdana, sans-serif;
}

.gradient {
  color: var(--color-Clay-Creek);
  background: linear-gradient(
    90deg,
    var(--color-Light-Apricot) 34.5%,
    var(--color-Alabaster) 34.5%
  );
}

@media screen and (max-width: 640px) {
  .gradient {
    background: var(--color-Alabaster);
    background: linear-gradient(
      180deg,
      var(--color-Light-Apricot) 40%,
      var(--color-Alabaster) 40%
    );
  }
}

.color_profile {
  background-color: var(--color-Dairy-Cream);
  color: var(--color-Clay-Creek);
}
.color_details {
  background-color: var(--color-Alabaster);
}

.color_form_background {
  background-color: var(--color-Light-Apricot);
}



.header_title_section {
  display: inline-block;
  width: 34px;
  height: 50px;
  padding: 12px;
  margin-bottom: 12px;
  margin-right: 8px;
  background-color: var(--color-Rich-Blue);
  -webkit-mask: url('../icons/braces.svg') no-repeat center / contain;
  mask: url('../icons/braces.svg') no-repeat center / contain;
}

.header_title_color {
  color: var(--color-Clay-Creek);
}

.header_subtitle_color {
  margin-left: 6px;
  text-transform: uppercase;
  color: var(--color-Clay-Creek);
  text-decoration: none;
}

.header_select_link {
  color: var(--color-Clay-Creek);
}
.header_no_select_link {
  color: var(--color-Clay-Creek);
}

.hero_padding {
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 12px;
}

.hero_img_config {
  width: 250px;
  height: 300px;
  border-radius: 100%;
}
.hero_presentation_size_left {
  width: 400px;
  height: 100%;
}
.hero_sizing_presentation_right {
  width: 600px;
}

.hero_divider {
  border-top: 5px solid var(--color-Rich-Blue);
  width: 70px;
  height: 100%;
}

.hero_text_costume {
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.hero_icons_sizing {
  margin-top: 74px;
  width: 100%;
  height: 70px;
}

.hero_icons_sizing_flex {
  background-color: var(--color-Alabaster);
  width: 100%;
  height: 70px;
}

.icons_config {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--color-Clay-Creek);
}

.icons_config_credits {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 3px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: var(--color-Clay-Creek);
}

.svg_braces {
  -webkit-mask: url('../icons/braces.svg') no-repeat center / contain;
  mask: url('../icons/braces.svg') no-repeat center / contain;
}

.svg_udemy {
  -webkit-mask: url('../icons/udemy.svg') no-repeat center / contain;
  mask: url('../icons/udemy.svg') no-repeat center / contain;
}
.svg_github {
  -webkit-mask: url('../icons/github.svg') no-repeat center / contain;
  mask: url('../icons/github.svg') no-repeat center / contain;
}
.svg_linkedin {
  -webkit-mask: url('../icons/linkedin.svg') no-repeat center / contain;
  mask: url('../icons/linkedin.svg') no-repeat center / contain;
}

.svg_android2 {
  -webkit-mask: url('../icons/android2.svg') no-repeat center / contain;
  mask: url('../icons/android2.svg') no-repeat center / contain;
}

.svg_cloud {
  -webkit-mask: url('../icons/cloud.svg') no-repeat center / contain;
  mask: url('../icons/cloud.svg') no-repeat center / contain;
}

.svg_c_circle {
  -webkit-mask: url('../icons/c-circle.svg') no-repeat center / contain;
  mask: url('../icons/c-circle.svg') no-repeat center / contain;
}

.hero_presentation_title {
  width: 260px;
  height: 150px;
  font-size: 110px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  color: var(--color-Clay-Creek);
}

.hero_button_left {
  border-radius: 4rem;
  width: 155px;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-Rich-Blue);
  outline: 0px solid var(--color-Rich-Blue);
  color: var(--color-Alabaster);
}
.hero_button_right {
  border-radius: 4rem;
  width: 155px;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
  outline: 1px solid var(--color-Clay-Creek);
  color: var(--color-Clay-Creek);
}

.footer_text_color {
  color: var(--color-Clay-Creek);
}

.footer_margin_top {
  margin-top: 50px;
}

.footer_icons_config {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.pages_background {
  background: var(--color-Light-Apricot);
}

.card_background {
  background: var(--color-Alabaster);
}

.curriculum_section_title {
  display: inline-block;
  width: 40px;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 5px;
  background-color: var(--color-Rich-Blue);
}

.curriculum_square_divider {
  border-top: 14px solid var(--color-Rich-Blue);
  width: 14px;
  height: 1rem;
  margin-top: 8px;
}

.color_subtitle {
  color: var(--color-Palatinate-Blue);
}


.contact_form_section {
  width: 100%;
  padding: 10px 0;
  padding-left: 6px;
  font-size: 16px;
  border-radius: 0px;

  color: var(--color-Clay-Creek);
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid var(--color-Clay-Creek);
  outline: none;
  background: transparent;
  
}