body {
  background-color: rgb(255, 255, 255);
  color: rgb(149, 124, 98);
}

.gradient {
  color: rgb(149, 124, 98);

  background: linear-gradient(
    90deg,
    rgba(241, 216, 174) 34.2%,
    rgba(255, 255, 255) 34.2%
  );
}

@media screen and (max-width: 840px) {
  .gradient {
    background: rgb(244, 235, 221);
    background: linear-gradient(
      180deg,
      rgba(241, 216, 174) 40%,
      rgba(255, 255, 255) 40%
    );
  }
}

.color-profile {
  background-color: rgb(243, 226, 197);
  color: rgb(149, 124, 98);
}
.color-details {
  background-color: rgb(255, 255, 255);
}
